{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300" rel="stylesheet">
    
</head>
<body>
    <div class="header">
        <div class="header_block logo"><img src="../static/img/image 58logo.svg" alt=""></div>
        {% for nav_element in header_nav_list %}
            <div class="header_block"><a class="header-link" href="#">{{ nav_element.title }}</a></div>
        {% endfor %}
        <div class="header_block language"><a class="header-link" href="#">RU</a></div>
        <button class="header_block logo"><img src="../static/img/image 58logo.png" alt=""></button>
        <button class="header_block mobile-menu"><img src="../static/img/Group 3656m-menu.svg" alt=""></button>
        <button class="header_block">Главная</button> 
        <button class="header_block">О нас</button>
        <div class="dropdown header_block">
            <button class=" mainmenubtn header_block">Поступающим</button>
            <div class="dropdown-child">
                <div class="grid">
                    <div class="dropdown-left dropdown-element">
                        <a class="left-mainmenubtn">Бакалавриат</a>
                        <div class="dropdown-left-child" >
                            <div class="grid">
                                <div class="dropdown-left2 dropdown-element ">
                                    <a class="mainmenubtn">Куда можно поступить ?</a>
                                    <div class="dropdown-left2-child" >
                                        <div class="grid">
                                            <a class="dropdown-element" href="">Образовательные программы</a>
                                            <div class="horiLine"></div>
                                            <a class="dropdown-element" href="">Классификаторы</a>
                                            <div class="horiLine"></div>
                                            <a class="dropdown-element" href="">Профориентационный тест</a>
                                            <div class="horiLine"></div>
                                            <a class="dropdown-element" href="">Профильные предметы</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="horiLine"></div>
                                <div class="dropdown-left2 dropdown-element ">
                                    <a class="mainmenubtn">Как поступить?</a>
                                    <div class="dropdown-left2-child" >
                                        <div class="grid">
                                            <a class="dropdown-element" href="">После колледжа</a>
                                            <div class="horiLine"></div>
                                            <a class="dropdown-element" href="">Платное отделение</a>
                                            <div class="horiLine"></div>
                                            <a class="dropdown-element" href="">Конкурс грантов</a>
                                            <div class="horiLine"></div>
                                            <a class="dropdown-element" href="">Журналистика</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="horiLine"></div>
                                <a class="dropdown-element" href="">Если я уже поступил?</a>
                                <div class="horiLine"></div>
                                <a class="dropdown-element" href="">Ориентационная неделя</a>
                            </div>
                        </div>
                    </div>
                    <div class="horiLine"></div>
                    <div class="dropdown-left dropdown-element ">
                        <a class="mainmenubtn">Магистратура</a>
                        <div class="dropdown-left-child" >
                            <div class="grid">
                                <a class="dropdown-element" href="">Куда можно поступить ?</a>
                                <div class="horiLine"></div>
                                <a class="dropdown-element" href="">Как поступить?</a>
                                <div class="horiLine"></div>
                                <a class="dropdown-element" href="">Если я уже поступил?</a>
                                <div class="horiLine"></div>
                                <a class="dropdown-element" href="">Ориентационная неделя</a>
                            </div>
                        </div>
                    </div>
                    <div class="horiLine"></div>
                    <a class="dropdown-element" href="">Докторантура</a>
                </div>
            </div>
        </div>
        <button class="header_block">Студентам</button>
        <button class="header_block">Кафедра</button>
        <button class="header_block">Библиотека</button> 
        <button class="header_block">Контакты</button>
        <button class="header_block">Блог Ректора</button>
        <button class="header_block language">RU</button>
    </div>
    <div class="description-container">
        <div class="description-left">
            <div class="descriptionbtn">
                <div class="heading">
                    Международный университет информационных технологий
                </div>
                <div class="description">
                    Международный университет информационных технологий - ведущее высшее учебное заведение, в Центрально-Азиатском регионе в области подготовки квалифицированных, международно-признанных специалистов
                </div>
                <a href="" class="button">Получить консультацию</a>
            </div>
            <div class="counters">
                <div id="btnleft"><img src="../static/img/circle_arrow.svg" alt=""></div>
                <div id="btnright"><img src="../static/img/arrow.svg" alt=""></div>
                <div class="numbers">
                    <div id="cur">1</div>
                    <div id="slash"></div>
                    <div id="val">4</div>
                </div>
            </div>
        </div>
        <div><img  class="description-img" src="../static/img/Rectangle 2631.png" alt=""></div>
    </div>

    <div class="partners">
        <hr class="chapter-heading-hr">
        <div class="chapter-heading">НАШИ ПАРТНЕРЫ</div>
        <div class="partner-images">
            <img class="partner-img" src="../static/img/image 58redhat.png" alt="">
            <img class="partner-img" src="../static/img/image 59Allvet.png" alt="">
            <img class="partner-img" src="../static/img/image 60bolashak.png" alt="">
            <img class="partner-img" src="../static/img/image 61sas.png" alt="">
            <img class="partner-img" src="../static/img/image 62ibm.png" alt="">
        </div>
    </div>
    <div class="news">
        <hr class="chapter-heading-hr">
        <div class="chapter-heading">НОВОСТИ</div>
        <div class="news-images">
            <div class="main-new">
                <div class="main-new-text">
                    <div class="main-new-date-box">
                        25 сентября 2022
                    </div>
                    <div class="main-new-description">
                        <div class="main-new-description-header">Студенты IITU вышли в Forbes</div>
                        <div class="main-new-description-text">Высококвалифицированный профессорско-преподавательский состав, располагающий условиями для свободного научного поиска, творчества и максимально реализующий свой интеллектуальный </div>
                    </div>
                </div>
            </div>
            <img id="vertical-line" src="../static/img/Line 3vertical-line.svg" alt="">
            <div class="scrollable">
               <div class="scrollable-block">
                <div class="scrollable-img-container"><img class="scrollable-img" src="../static/img/Rectangle 2640iitu.png" alt="">
                    <div class="date-box">28 октября 2022</div>
                </div>
                <div class="scrollable-text">
                    <div class="scrollable-heading">Международный турнир</div>
                    <div class="scrollable-description">Международный турнир с нормой ММ с 20 по 28 февраля 2019 года посвященный Году молодежи в </div>
                    <div><a class="scrollable-button" href="">Подробнее  ></a></div>
                </div>
               </div>
               <div class="scrollable-block">
                <div class="scrollable-img-container"><img class="scrollable-img" src="../static/img/Rectangle 2640iitu.png" alt="">
                    <div class="date-box">28 октября 2022</div>
                </div>
                <div class="scrollable-text">
                    <div class="scrollable-heading">Международный турнир</div>
                    <div class="scrollable-description">Международный турнир с нормой ММ с 20 по 28 февраля 2019 года посвященный Году молодежи в </div>
                    <div><a class="scrollable-button" href="">Подробнее  ></a></div>
                </div>
               </div>
               <div class="scrollable-block">
                <div class="scrollable-img-container"><img class="scrollable-img" src="../static/img/Rectangle 2640iitu.png" alt="">
                    <div class="date-box">28 октября 2022</div>
                </div>
                <div class="scrollable-text">
                    <div class="scrollable-heading">Международный турнир</div>
                    <div class="scrollable-description">Международный турнир с нормой ММ с 20 по 28 февраля 2019 года посвященный Году молодежи в </div>
                    <div><a class="scrollable-button" href="">Подробнее  ></a></div>
                </div>
               </div>
               <div class="scrollable-block">
                <div class="scrollable-img-container"><img class="scrollable-img" src="../static/img/Rectangle 2640iitu.png" alt="">
                    <div class="date-box">28 октября 2022</div>
                </div>
                <div class="scrollable-text">
                    <div class="scrollable-heading">Международный турнир</div>
                    <div class="scrollable-description">Международный турнир с нормой ММ с 20 по 28 февраля 2019 года посвященный Году молодежи в </div>
                    <div><a class="scrollable-button" href="">Подробнее  ></a></div>
                </div>
               </div>
            </div>
        </div>
    </div>
    <div class="edu-programs">
        <hr class="chapter-heading-hr">
        <div class="chapter-heading">ОБРАЗОВАТЕЛЬНЫЕ ПРОГРАММЫ</div>
        <div class="edu-programs-grids">
            <div class="grids-top-buttons">
                <button onclick="openCity(event, 'bach')" class="top-button active" href="">Бакалавриат</button>
                <button onclick="openCity(event, 'mast')" class="top-button" href="">Магистратура</button>
                <button onclick="openCity(event, 'dock')" class="top-button" href="">Докторантура</button>
            </div>
            <div id="bach" class="grids-bottom-buttons">
                <div class="gridcontainer">
                    <div class="flex-container">
                        <img src="../static/img/Group 1066management.svg" alt="">
                        <div class="code-name" >B044</div>
                    </div>
                    <div class="programm-name" >Менеджмент и управление</div>
                    <div class="faculty">Факультеты: 2</div>
                </div>
                <div class="gridcontainer">
                    <div class="flex-container">
                        <img src="../static/img/Group 1066management.svg" alt="">
                        <div class="code-name" >B044</div>
                    </div>
                    <div class="programm-name" >Менеджмент и управление</div>
                    <div class="faculty">Факультеты: 2</div>
                </div>
                <div class="gridcontainer">
                    <div class="flex-container">
                        <img src="../static/img/Group 1066management.svg" alt="">
                        <div class="code-name" >B044</div>
                    </div>
                    <div class="programm-name" >Менеджмент и управление</div>
                    <div class="faculty">Факультеты: 2</div>
                </div>
                <div class="gridcontainer">
                    <div class="flex-container">
                        <img src="../static/img/Group 1066management.svg" alt="">
                        <div class="code-name" >B044</div>
                    </div>
                    <div class="programm-name" >Менеджмент и управление</div>
                    <div class="faculty">Факультеты: 2</div>
                </div>
                <div class="gridcontainer">
                    <div class="flex-container">
                        <img src="../static/img/Group 1066management.svg" alt="">
                        <div class="code-name" >B044</div>
                    </div>
                    <div class="programm-name" >Менеджмент и управление</div>
                    <div class="faculty">Факультеты: 2</div>
                </div>
                <div class="gridcontainer">
                    <div class="flex-container">
                        <img src="../static/img/Group 1066management.svg" alt="">
                        <div class="code-name" >B044</div>
                    </div>
                    <div class="programm-name" >Менеджмент и управление</div>
                    <div class="faculty">Факультеты: 2</div>
                </div>
            </div>
            <div id="mast" class="grids-bottom-buttons" style="display: none;">
                <div class="gridcontainer">
                    <div class="flex-container">
                        <img src="../static/img/Group 1071.svg" alt="">
                        <div class="code-name" >B044</div>
                    </div>
                    <div class="programm-name" >Менеджмент и управление</div>
                    <div class="faculty">Факультеты: 2</div>
                </div>
                <div class="gridcontainer">
                    <div class="flex-container">
                        <img src="../static/img/Group 1071.svg" alt="">
                        <div class="code-name" >B044</div>
                    </div>
                    <div class="programm-name" >Менеджмент и управление</div>
                    <div class="faculty">Факультеты: 2</div>
                </div>
                <div class="gridcontainer">
                    <div class="flex-container">
                        <img src="../static/img/Group 1071.svg" alt="">
                        <div class="code-name" >B044</div>
                    </div>
                    <div class="programm-name" >Менеджмент и управление</div>
                    <div class="faculty">Факультеты: 2</div>
                </div>
                <div class="gridcontainer">
                    <div class="flex-container">
                        <img src="../static/img/Group 1071.svg" alt="">
                        <div class="code-name" >B044</div>
                    </div>
                    <div class="programm-name" >Менеджмент и управление</div>
                    <div class="faculty">Факультеты: 2</div>
                </div>
                <div class="gridcontainer">
                    <div class="flex-container">
                        <img src="../static/img/Group 1071.svg" alt="">
                        <div class="code-name" >B044</div>
                    </div>
                    <div class="programm-name" >Менеджмент и управление</div>
                    <div class="faculty">Факультеты: 2</div>
                </div>
            </div>
            <div id="dock" class="grids-bottom-buttons" style="display: none;">
                <div class="gridcontainer">
                    <div class="flex-container">
                        <img src="../static/img/Group 1067.svg" alt="">
                        <div class="code-name" >B044</div>
                    </div>
                    <div class="programm-name" >Менеджмент и управление</div>
                    <div class="faculty">Факультеты: 2</div>
                </div>
                <div class="gridcontainer">
                    <div class="flex-container">
                        <img src="../static/img/Group 1067.svg" alt="">
                        <div class="code-name" >B044</div>
                    </div>
                    <div class="programm-name" >Менеджмент и управление</div>
                    <div class="faculty">Факультеты: 2</div>
                </div>
                <div class="gridcontainer">
                    <div class="flex-container">
                        <img src="../static/img/Group 1067.svg" alt="">
                        <div class="code-name" >B044</div>
                    </div>
                    <div class="programm-name" >Менеджмент и управление</div>
                    <div class="faculty">Факультеты: 2</div>
                </div>
                <div class="gridcontainer">
                    <div class="flex-container">
                        <img src="../static/img/Group 1067.svg" alt="">
                        <div class="code-name" >B044</div>
                    </div>
                    <div class="programm-name" >Менеджмент и управление</div>
                    <div class="faculty">Факультеты: 2</div>
                </div>
            </div>
        </div>
    </div>
    <div class="about">
        <hr class="chapter-heading-hr">
        <div class="chapter-heading">ОБ УНИВЕРСИТЕТЕ</div>
        <div class="flex-about">
            <div class="video">
                <img src="../static/img/Group 1040video.png" alt="">
            </div>
            <div class="about-text">
                <div class="about-heading">Международный турнир</div>
                <div class="about-description">Международный университет информационных технологий - ведущее высшее учебное заведение, в Центрально-Азиатском регионе в области подготовки квалифицированных, международно-признанных специалистов</div>
                <div class="about-button button">Посмотреть трейлер</div>
            </div>
        </div>
    </div>
    <div class="advantages-container">
        <div class="advantages-top">
            <div class="advantages-text-card">
                <div class="advantages-heading">Преимущества Университета</div>
                <div class="advantages-text">Международный университет информационных технологий - ведущее высшее учебное заведение</div>
                <div class="advantages-button">
                    <div class="button-text">Получить консультацию</div>
                    <div class="btn-line"></div>
                </div>
            </div>
            <div class="advantages-cardbox">
                <div class="advantages-card">
                    <img src="../static/img/Rectangle 2672a.svg" alt="">
                    <img src="../static/img/Frame 52circle.svg" alt="">
                    <div class="advantages-card-heading">Высокий научно-педагогический потенциал</div>
                    <div class="advantages-card-text">МУИТ является единственным ВУЗом в Казахстане, получившим в 2019 году институциональную международную аккредитацию ASIIN</div>
                </div>
                <div class="advantages-card">
                    <img src="../static/img/Rectangle 2672a.svg" alt="">
                    <img src="../static/img/Frame 52circle.svg" alt="">
                    <div class="advantages-card-heading">Высокий научно-педагогический потенциал</div>
                    <div class="advantages-card-text">МУИТ является единственным ВУЗом в Казахстане, получившим в 2019 году институциональную международную аккредитацию ASIIN</div>
                </div>
                <div class="advantages-card">
                    <img src="../static/img/Rectangle 2672a.svg" alt="">
                    <img src="../static/img/Frame 52circle.svg" alt="">
                    <div class="advantages-card-heading">Высокий научно-педагогический потенциал</div>
                    <div class="advantages-card-text">МУИТ является единственным ВУЗом в Казахстане, получившим в 2019 году институциональную международную аккредитацию ASIIN</div>
                </div>
            </div>
        </div>
        <div class="advantages-svgs">
            <img src="../static/img/Vectorlarrow.svg" alt="">
            <img src="../static/img/Vectorlarrowr.svg" alt="">
            <img src="../static/img/Group 1057scrollbar.svg" alt="">
        </div>
    </div>
    <div class="footer-container">
        <div class="footer-top">
        <div class="footer-images">
            <img src="../static/img/image 58logo.png" alt="">
            <img src="../static/img/Group 3652 (1).svg" alt="">
        </div>
        <ul>
            <li>CONTACTS</li>
            {% for contact in contacts_list %}
                <li><img class="no-bottom" src="{% get_media_prefix %} {{ contact.icon }}" alt="">{{ contact.title }}</li>
            {% endfor %}
            <li>КОНТАКТЫ</li>
            <li><img class="no-bottom" src="../static/img/Group 3646mail.svg" alt="">info@iitu.kz</li>
            <li><img class="no-bottom" src="../static/img/Group 3643phone.svg" alt="">+7 (727) 244 51 03</li>
            <li><img class="no-bottom" src="../static/img/Group 3638location.svg" alt="">Манаса 34/1</li>
        </ul>
        <ul>
            <li>ОБ УНИВЕРСИТЕТЕ</li>
            <li>Приемная коммиссия</li>
            <li>Миссия и Стратегия</li>
            <li>COVID-19</li>
            <li>3D Tour</li>
        </ul>
        <ul>
            <li>СТУДЕНТАМ</li>
            <li>Студенческие организации</li>
            <li>Внутренняя Почта</li>
            <li>Ящик доверия</li>
            <li>dl</li>
        </ul>
        <ul>
            <li>СОТРУДНИЧЕСТВО</li>
            <li>Академическая мобильность</li>
            <li>Партнеры</li>
        </ul>
        </div>
        <div class="rights">Copyright All Rights Reserved 2022, International IT University</div>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>