{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300" rel="stylesheet">
    
</head>
<body>
    <div class="header">
        <button class="header_block logo"><img src="../static/img/image 58logo.png" alt=""></button>

        {% for nav_element in header_nav_list %}
            {% if nav_element.is_dropdown %}
                <div class="dropdown header_block">
                    <button class=" mainmenubtn header_block">{{ nav_element.title }}</button>
                    <div class="dropdown-child">
                        <div class="grid">
                            {% for dropdown_1 in header_dropdown_1_list %}
                                {% if dropdown_1.parent_navigation_element == nav_element %}
                                    <div class="dropdown-left dropdown-element">
                                        {% if dropdown_1.is_dropdown %}
                                            <a class="left-mainmenubtn">{{ dropdown_1.title }}</a>
                                            <div class="dropdown-left-child">
                                                <div class="grid">
                                                    {% for dropdown_2 in header_dropdown_2_list %}
                                                        {% if dropdown_2.parent_dropdown_navigation_element == dropdown_1 %}
                                                            <div class="dropdown-left2 dropdown-element ">
                                                                <a class="mainmenubtn" href="">{{ dropdown_2.title }}</a>
                                                                {% if dropdown_2.is_dropdown %}
                                                                    <div class="dropdown-left2-child">
                                                                        <div class="grid">
                                                                            {% for dropdown_3 in header_dropdown_3_list %}
                                                                                {% if dropdown_3.parent_dropdown_navigation_element == dropdown_2 %}
                                                                                    <a class="dropdown-element" href="">{{ dropdown_3.title }}</a>
                                                                                    {% if not forloop.last %}
                                                                                        <div class="horiLine"></div>
                                                                                    {% endif %}
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </div>
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                            {% if not forloop.last %}
                                                                    <div class="horiLine"></div>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% else %}
                                            <a class="left-mainmenubtn">{{ dropdown_1.title }}</a>
                                        {% endif %}
                                    </div>
                                    {% if not forloop.last %}
                                        <div class="horiLine"></div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% else %}
                <button class="header_block"> {{ nav_element.title }} </button>
            {% endif %}
        {% endfor %}
        <button class="header_block mobile-menu"><img src="../static/img/Group 3656m-menu.svg" alt=""></button>
    </div>
    <div class="description-container">
        <div class="description-left">
            <div class="descriptionbtn">
                <div class="heading">
                    Международный университет информационных технологий
                </div>
                <div class="description">
                    Международный университет информационных технологий - ведущее высшее учебное заведение, в Центрально-Азиатском регионе в области подготовки квалифицированных, международно-признанных специалистов
                </div>
                <a href="" class="button">Получить консультацию</a>
            </div>
            <div class="counters">
                <div id="btnleft"><img src="../static/img/circle_arrow.svg" alt=""></div>
                <div id="btnright"><img src="../static/img/arrow.svg" alt=""></div>
                <div class="numbers">
                    <div id="cur">1</div>
                    <div id="slash"></div>
                    <div id="val">4</div>
                </div>
            </div>
        </div>
        <div><img  class="description-img" src="../static/img/Rectangle 2631.png" alt=""></div>
    </div>

    <div class="partners">
        <hr class="chapter-heading-hr">
        <div class="chapter-heading">НАШИ ПАРТНЕРЫ</div>
        <div class="partner-images">
            {% for partner in partners_list %}
                <img class="partner-img" src="../media/{{ partner.image }}" alt="">
            {% endfor %}
        </div>
    </div>
    <div class="news">
        <hr class="chapter-heading-hr">
        <div class="chapter-heading">НОВОСТИ</div>
        <div class="news-images">
                <div class="main-new">
                    <div class="main-new-text">
                        <div class="main-new-date-box">
                            {{ main_news.date }}
                        </div>
                        <div class="main-new-description">
                            <div class="main-new-description-header">{{ main_news.title }}</div>
                            <div class="main-new-description-text">{{ main_news.content }}</div>
                        </div>
                    </div>
                </div>
            <img id="vertical-line" src="../static/img/Line 3vertical-line.svg" alt="">
            <div class="scrollable">
                {% for news in news_list %}
                    <div class="scrollable-block">
                        <div class="scrollable-img-container"><img class="scrollable-img" src="../media/{{ news.image }}" alt="">
                            <div class="date-box">{{ news.date }}</div>
                        </div>
                        <div class="scrollable-text">
                            <div class="scrollable-heading">{{ news.title }}</div>
                            <div class="scrollable-description">{{ news.content }} </div>
                            <div><a class="scrollable-button" href="">Подробнее  ></a></div>
                        </div>
                    </div>
                {% endfor %}
             </div>
        </div>
    </div>
    <div class="edu-programs">
        <hr class="chapter-heading-hr">
        <div class="chapter-heading">ОБРАЗОВАТЕЛЬНЫЕ ПРОГРАММЫ</div>
        <div class="edu-programs-grids">
            <div class="grids-top-buttons">
            <button onclick="openCity(event, 'bach')" class="top-button active" href=""> Бакалавриат </button>
            <button onclick="openCity(event, 'mast')" class="top-button" href=""> Магистратура </button>
            <button onclick="openCity(event, 'dock')" class="top-button" href=""> Докторантура </button>
            </div>
            <div id="bach" class="grids-bottom-buttons">
                {% for program in programs_list %}
                    {% if program.category_id == 1 %}
                        <div class="gridcontainer">
                            <div class="flex-container">
                                <img src="../media/{{ program.icon }}" alt="">
                                <div class="code-name" >{{ program.code }}</div>
                            </div>
                            <div class="programm-name" >{{ program.title }}</div>
                            <div class="faculty">Факультеты: {{ program.faculties_count }}</div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div id="mast" class="grids-bottom-buttons" style="display: none;">
                    {% for program in programs_list %}
                        {% if program.category_id == 2 %}
                        <div class="gridcontainer">
                            <div class="flex-container">
                                <img src="../media/{{ program.icon }}" alt="">
                                <div class="code-name" >{{ program.code }}</div>
                            </div>
                            <div class="programm-name" >{{ program.title }}</div>
                            <div class="faculty">Факультеты: {{ program.faculties_count }}</div>
                        </div>
                    {% endif %}
                    {% endfor %}
            </div>
            <div id="dock" class="grids-bottom-buttons" style="display: none;">
                {% for program in programs_list %}
                    {% if program.category_id == 3 %}
                        <div class="gridcontainer">
                            <div class="flex-container">
                                <img src="../media/{{ program.icon }}" alt="">
                                <div class="code-name" >{{ program.code }}</div>
                            </div>
                            <div class="programm-name" >{{ program.title }}</div>
                            <div class="faculty">Факультеты: {{ program.faculties_count }}</div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="about">
        <hr class="chapter-heading-hr">
        <div class="chapter-heading">ОБ УНИВЕРСИТЕТЕ</div>
        <div class="flex-about">
            <div class="video">
                <img src="../static/img/Group 1040video.png" alt="">
            </div>
            <div class="about-text">
                <div class="about-heading">Международный турнир</div>
                <div class="about-description">Международный университет информационных технологий - ведущее высшее учебное заведение, в Центрально-Азиатском регионе в области подготовки квалифицированных, международно-признанных специалистов</div>
                <div class="about-button button">Посмотреть трейлер</div>
            </div>
        </div>
    </div>
    <div class="advantages-container">
        <div class="advantages-top">
            <div class="advantages-text-card">
                <div class="advantages-heading">Преимущества Университета</div>
                <div class="advantages-text">Международный университет информационных технологий - ведущее высшее учебное заведение</div>
                <div class="advantages-button">
                    <div class="button-text">Получить консультацию</div>
                    <div class="btn-line"></div>
                </div>
            </div>
            <div class="advantages-cardbox">
                {% for advantage_card in advantages_list %}
                    <div class="advantages-card">
                        <img src="../media/{{ advantage_card.icon }}" alt="">
                        <img src="../media/{{ advantage_card.on_hover_icon }}" alt="">
                        <div class="advantages-card-heading">{{ advantage_card.title }}</div>
                        <div class="advantages-card-text">{{ advantage_card.content }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="advantages-svgs">
            <img src="../static/img/Vectorlarrow.svg" alt="">
            <img src="../static/img/Vectorlarrowr.svg" alt="">
            <img src="../static/img/Group 1057scrollbar.svg" alt="">
        </div>
    </div>
    <div class="footer-container">
        <div class="footer-top">
            <div class="footer-images">
                <img src="../static/img/image 58logo.png" alt="">
                <img src="../static/img/Group 3652 (1).svg" alt="">
            </div>
            <ul>
                <li>Контакты</li>
                {% for contact in contacts_list %}
                    <li><img class="no-bottom" src="../media/{{ contact.icon }}" alt="">{{ contact.title }}</li>
                {% endfor %}
            </ul>
            {% for category, elements in footer_elements.items %}
                <ul>
                    <li>{{ category.title }}</li>
                    {% for element in elements %}
                        <li>{{ element.title }}</li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
        <div class="rights">Copyright All Rights Reserved 2022, International IT University</div>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>