<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300" rel="stylesheet">
    
</head>
<body>
    <div class="header">
        <div class="header_block logo"><img src="img/image 58logo.svg" alt=""></div>
        <div class="header_block"><a class="header-link" href="#">Главная</a></div> 
        <div class="header_block"><a class="header-link" href="#">О нас</a></div>
        <div class="header_block dropdown">
            <div><a class="mainmenubtn" href="#"></a>Поступающим</div>
            <div class="dropdown-child">
                <div class="grid">
                    <a class="dropdown-element" href="#">Бакалавриат</a>
                    <a class="dropdown-element" href="#">Магистратура</a>
                    <a class="dropdown-element" href="#">Докторантура</a>
                </div>
            </div>
        </div>
        <div class="header_block"><a class="header-link" href="#">Студентам</a></div>
        <div class="header_block"><a class="header-link" href="#">Кафедра</a></div>
        <div class="header_block"><a class="header-link" href="#">Библиотека</a></div> 
        <div class="header_block"><a class="header-link" href="#">Контакты</a></div>
        <div class="header_block"><a class="header-link" href="#">Блог Ректора</a></div>
        <div class="header_block language"><a class="header-link" href="#">RU</a></div>
    </div>
    <div class="description-container">
        <div class="description-left">
            <div class="descriptionbtn">
                <div class="heading">
                    Международный университет информационных технологий
                </div>
                <div class="description">
                    Международный университет информационных технологий - ведущее высшее учебное заведение, в Центрально-Азиатском регионе в области подготовки квалифицированных, международно-признанных специалистов
                </div>
                <a href="#" class="button">Получить консультацию</a>
            </div>
            <div class="counters">
                <div id="btnleft"><img src="img/circle_arrow.svg" alt=""></div>
                <div id="btnright"><img src="img/arrow.svg" alt=""></div>
                <div class="numbers">
                    <div id="cur">1</div>
                    <div id="slash"><img src="img/Line 2.svg" alt=""></div>
                    <div id="val">4</div>
                </div>
            </div>
        </div>
        <div><img  class="description-img" src="img/Rectangle 2631.png" alt=""></div>
    </div>

    <div class="partners">
        <hr class="chapter-heading-hr">
        <div class="chapter-heading">НАШИ ПАРТНЕРЫ</div>
        <div class="partner-images">
            <img class="partner-img" src="img/image 58redhat.png" alt="">
            <img class="partner-img" src="img/image 59Allvet.png" alt="">
            <img class="partner-img" src="img/image 60bolashak.png" alt="">
            <img class="partner-img" src="img/image 61sas.png" alt="">
            <img class="partner-img" src="img/image 62ibm.png" alt="">
        </div>
    </div>
    <div class="news">
        <hr class="chapter-heading-hr">
        <div class="chapter-heading">НОВОСТИ</div>
        <div class="news-images">
            <div class="main-new">
                <div class="main-new-text">
                    <div class="main-new-date-box">
                        25 сентября 2022
                    </div>
                    <div class="main-new-description">
                        <div class="main-new-description-header">Студенты IITU вышли в Forbes</div>
                        <div class="main-new-description-text">Высококвалифицированный профессорско-преподавательский состав, располагающий условиями для свободного научного поиска, творчества и максимально реализующий свой интеллектуальный </div>
                    </div>
                </div>
            </div>
            <img id="vertical-line" src="img/Line 3vertical-line.svg" alt="">
            <div class="scrollable">
               <div class="scrollable-block">
                <div class="scrollable-img-container"><img class="scrollable-img" src="img/Rectangle 2640iitu.png" alt="">
                    <div class="date-box">28 октября 2022</div>
                </div>
                <div class="scrollable-text">
                    <div class="scrollable-heading">Международный турнир</div>
                    <div class="scrollable-description">Международный турнир с нормой ММ с 20 по 28 февраля 2019 года посвященный Году молодежи в </div>
                    <div><a class="scrollable-button" href="#">Подробнее  ></a></div>
                </div>
               </div>
               <div class="scrollable-block">
                <div class="scrollable-img-container"><img class="scrollable-img" src="img/Rectangle 2640iitu.png" alt="">
                    <div class="date-box">28 октября 2022</div>
                </div>
                <div class="scrollable-text">
                    <div class="scrollable-heading">Международный турнир</div>
                    <div class="scrollable-description">Международный турнир с нормой ММ с 20 по 28 февраля 2019 года посвященный Году молодежи в </div>
                    <div><a class="scrollable-button" href="#">Подробнее  ></a></div>
                </div>
               </div>
               <div class="scrollable-block">
                <div class="scrollable-img-container"><img class="scrollable-img" src="img/Rectangle 2640iitu.png" alt="">
                    <div class="date-box">28 октября 2022</div>
                </div>
                <div class="scrollable-text">
                    <div class="scrollable-heading">Международный турнир</div>
                    <div class="scrollable-description">Международный турнир с нормой ММ с 20 по 28 февраля 2019 года посвященный Году молодежи в </div>
                    <div><a class="scrollable-button" href="#">Подробнее  ></a></div>
                </div>
               </div>
               <div class="scrollable-block">
                <div class="scrollable-img-container"><img class="scrollable-img" src="img/Rectangle 2640iitu.png" alt="">
                    <div class="date-box">28 октября 2022</div>
                </div>
                <div class="scrollable-text">
                    <div class="scrollable-heading">Международный турнир</div>
                    <div class="scrollable-description">Международный турнир с нормой ММ с 20 по 28 февраля 2019 года посвященный Году молодежи в </div>
                    <div><a class="scrollable-button" href="#">Подробнее  ></a></div>
                </div>
               </div>
            </div>
        </div>
    </div>
    <div class="edu-programs">
        <hr class="chapter-heading-hr">
        <div class="chapter-heading">ОБРАЗОВАТЕЛЬНЫЕ ПРОГРАММЫ</div>
        <div class="edu-programs-grids">
            <div class="grids-top-buttons">
                <a class="top-button-active" href="#">Бакалавриат</a>
                <a class="top-button-inactive" href="#">Магистратура</a>
                <a class="top-button-inactive" href="#">Докторантура</a>
            </div>
            <div class="grids-bottom-buttons">
                <div class="gridcontainer">
                    <div class="flex-container">
                        <img src="img/Group 1066management.svg" alt="">
                        <div class="code-name" >B044</div>
                    </div>
                    <div class="programm-name" >Менеджмент и управление</div>
                    <div class="faculty">Факультеты: 2</div>
                </div>
                <div class="gridcontainer">
                    <div class="flex-container">
                        <img src="img/Group 1066management.svg" alt="">
                        <div class="code-name" >B044</div>
                    </div>
                    <div class="programm-name" >Менеджмент и управление</div>
                    <div class="faculty">Факультеты: 2</div>
                </div>
                <div class="gridcontainer">
                    <div class="flex-container">
                        <img src="img/Group 1066management.svg" alt="">
                        <div class="code-name" >B044</div>
                    </div>
                    <div class="programm-name" >Менеджмент и управление</div>
                    <div class="faculty">Факультеты: 2</div>
                </div>
                <div class="gridcontainer">
                    <div class="flex-container">
                        <img src="img/Group 1066management.svg" alt="">
                        <div class="code-name" >B044</div>
                    </div>
                    <div class="programm-name" >Менеджмент и управление</div>
                    <div class="faculty">Факультеты: 2</div>
                </div>
                <div class="gridcontainer">
                    <div class="flex-container">
                        <img src="img/Group 1066management.svg" alt="">
                        <div class="code-name" >B044</div>
                    </div>
                    <div class="programm-name" >Менеджмент и управление</div>
                    <div class="faculty">Факультеты: 2</div>
                </div>
                <div class="gridcontainer">
                    <div class="flex-container">
                        <img src="img/Group 1066management.svg" alt="">
                        <div class="code-name" >B044</div>
                    </div>
                    <div class="programm-name" >Менеджмент и управление</div>
                    <div class="faculty">Факультеты: 2</div>
                </div>
            </div>
        </div>
    </div>
    <div class="about">
        <hr class="chapter-heading-hr">
        <div class="chapter-heading">ОБ УНИВЕРСИТЕТЕ</div>
        <div class="flex-about">
            <div class="video">
                <img src="img/Group 1040video.png" alt="">
            </div>
            <div class="about-text">
                <div class="about-heading">Международный турнир</div>
                <div class="about-description">Международный университет информационных технологий - ведущее высшее учебное заведение, в Центрально-Азиатском регионе в области подготовки квалифицированных, международно-признанных специалистов</div>
                <div class="about-button button">Посмотреть трейлер</div>
            </div>
        </div>
    </div>
</body>
</html>