
@font-face{
    font-family: SF Pro Display;
    src: url(../font/SFPRODISPLAYREGULAR.OTF) format("opentype");
    font-style: normal;
}
@font-face{
    font-family: Proxima Nova;
    src: url(../font/proximanova_regular.ttf) format("truetype");
    font-style: normal;
}
@font-face{
    font-family: Gilroy;
    src: url(../font/gilroy-regular.ttf) format("truetype");
    font-style: normal;
}

@font-face{
    font-family: Gilroy;
    src: url(../font/gilroy-bold.ttf) format("truetype");
    font-style: bold;
}

@font-face{
    font-family: Gilroy;
    src: url(../font/gilroy-light.ttf) format("truetype");
    font-style: light;
}

*{
    margin:0;
    padding:0;
}

html,body{
    max-width: 100%;
    overflow-x: hidden;
}

body{
    
    margin: 0;
    font-family: Montserrat;
    background-color: white;
    display: block;
}

a{
    text-decoration: none;
}

hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 5px solid #992439;
  margin: 1em 0;
  padding: 0;
}

.header{
    display: flex;
    justify-content: space-around;
    background-color: #992439;
    align-items: center;
    width: 100%;
    height: 100px;
}

.mainmenubtn{
    height: 100px;
}

.header_block{
    align-self: center;
    color: white;
    font-size: 20px;
    flex-grow: 1;
}

.header-link{
    color: white;
}

.dropdown{
    cursor: pointer;
}

.dropdown:hover .dropdown-child {
    display: block;
}

.dropdown-child {
    position: absolute;
    top: 100px;
    display: flex;
    flex-direction: column;
    display: none;
    background-color: #000000;
    opacity: 50%;
    min-width: 200px;
}

.grid{
    display: grid;
}

.dropdown-element{
padding: 20px 13px;
}

.logo{
    height: 50%;
    margin-left: 35px;
}

.language{
    flex-grow: 3;
    text-align: center;
}

.description-container{
    display: flex;
    max-width: 1760px;
    align-self: center;
}

.description-left{
    padding: 270px 0px 0px 80px;
}

.descriptionbtn{
    display: grid;
    max-width: 875px;;
    margin-right: 110px;
}

.heading{
    font-family: 'SF Pro Display';
    font-style: normal;
    font-size: 48px;
    font-weight: 400;
}

.description{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-top: 20px;
}

.button{
    margin-top: 53.5px;
    width: 478px;
height: 82px;

background: #992439;
box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
border-radius: 5px;

font-family: 'Gilroy';
font-weight: 700;
font-size: 28px;
line-height: 35px;
text-align: center;
align-items: center;
DISPLAY: grid;
color: white;
}

.counters{
    display: flex;
    margin-top: 220px;
}

#btnleft{
    margin-right: 30px;
}

#btnright{
    margin-right: 60px;
}

.numbers{
    display: flex;
}

#cur{
    font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 58px;
position: relative;
top: -4px;
margin-right: 5px;
}

#slash{
    margin-right: 3px;
}

#val{
    font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 58px;
position: relative;
top: 5px;
}

.description-img{
    margin-top: 40px;
    width: 80vmin;
}

.partners{
    position: relative;
}

.chapter-heading-hr{
    position: relative;
}

.chapter-heading{
    display: block;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    margin-left: 80px;
    background-color: white;
    position: absolute;
    top: -25px;
    padding: 0px 30px;
}

.partner-images{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 70px 0px 180px;
}

.partner-img{
    height: 100%;
}

.news{
    position: relative;
    padding: 0px 0px 90px;
}

.news-images{
    display: flex;
    justify-content: space-between;
    padding: 80px;
    max-width: 94vw;
}

.main-new{
    background-image: url(../img/Rectangle\ 2636student.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-right: 30px;
    height: 820px;
    width: 40vw;
    border-radius: 20px;
}

.news-image{
    width: 100%;
}

.main-new-text{
    position: absolute;
    width: 100%;
    text-align: start;
    bottom: 0px;
}

.main-new-date-box{
    font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
color: #FFFFFF;
background: rgba(0, 0, 0, 0.4);
backdrop-filter: blur(20px);
border-radius: 10px;
padding: 17px 0;
width: 270px;
text-align: center;
margin: 15px;
}

.main-new-description{
    position: relative
    bottom;
    color: white;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: start;
    padding: 10px 22px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    border-radius: 0px 0px 20px 20px;
    padding: 40px;
}

.main-new-description-header{
    font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
margin-bottom: 16px;

}

.main-new-description-text{
    font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
width: auto;
}

#vertical-line{
    padding-right: 30px;
}

.scrollable{
    width: auto;
    height: 820px;
    overflow-x: auto;
}

.scrollable-block{
    height: 240px;
    width: auto;
    border: 3px #000000;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.scrollable-img{
    height: 12vw;
    max-height: 250px;
    margin-right: 30px;
}

.scrollable-img-container{
    position: relative;
}

.date-box{
    position: absolute;
left: 10px;
bottom: 10px;
color: white;
font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-align: center;
padding: 10px 22px;
backdrop-filter: blur(5px);
background: rgba(0, 0, 0, 0.4);
}

.scrollable-text{
    width: 22vw;
}

.scrollable-heading{
    font-family: 'Gilroy';
font-style: bold;
font-weight: 700;
font-size: 32px;
line-height: 40px;
margin-bottom: 16px;
}

.scrollable-description{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 16px;
}

.scrollable-button{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #992439;
}

.edu-programs{
    position: relative;
}

.grids-top-buttons{
    display: flex;
    margin-top: 127px;
    margin-left: 100px;
}

.top-button-active{
    font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 38px;
color: white;
background: #992439;
border-radius: 20px;
padding: 25px 99px;
margin-right: 20px;
}

.top-button-inactive{
    font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 38px;
color: #2A2A2A;
    border-radius: 20px 0px 0px 20px;
    padding: 25px 99px;
    margin-right: 20px;
}

.grids-bottom-buttons{
    display: grid;
    margin: 80px;
    grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  grid-gap: 2vw;
}

.grids-bottom-buttons > div{
    height: 400px;
    margin-bottom: 115px;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    margin: 35px;
    margin-bottom: 59px;
}

.code-name{
    font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 32px;
color: #FFFFFF;
background: rgba(82, 82, 82, 0.5);
border-radius: 5px;
height: 100%;
padding: 10px 30px;
}

.programm-name{
    font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 40px;
margin-left: 35px;
margin-bottom: 70px;
}

.faculty{
    font-family: 'Proxima Nova';
font-style: normal;
font-weight: 400;
font-size: 27px;
line-height: 33px;
margin: 35px;
color: #A5A5A5;
}

.about{
    position: relative;
}

.flex-about{
    display: flex;
    margin: 11vh 0 20vh 5vw;
}

.video{
    background: url(../img/image\ 33video.png);
border-radius: 20px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-content: center;
background-repeat: no-repeat;
height: 450px;
width: 850px;
margin-right: 5vw;
}

.about-text{
    position: relative;
    width: 760px;
    height: 400px;
    display: grid;
    align-self: end;
}

.about-heading{
    font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 56px;
line-height: 67px;
margin-bottom: 30px;
}

.about-description{
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 34px;
    color: #7C7C7C;
    margin-bottom: 30px;
}

.about-button{
    margin: 0;
    bottom: auto;
}

.advantages-container{
    width: 100vw;
}

.advantages-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.advantages-text-card{
    margin-left: 80px;
    max-width: 520px;
}

.advantages-heading{
    font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 52px;
margin-bottom: 12px;
}

.advantages-text{
    font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
color: #585858;
margin-bottom: 70px;
}

.advantages-button{
    display: inline-flex;
}

.button-text{
    font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
color: #616161;
margin-right: 30px;
}

.btn-line{
    width: 70px;
    max-height: 0px;
    border: 2px solid #992439;
    margin-top: 14px;
}

.advantages-cardbox{
    display: -webkit-box;
    overflow-y: scroll;
    width: 55vw;
    gap: 40px;
}

.advantages-card{
    padding: 30px;
    width: 420px;
    height: 500px;
    background: #FFFFFF;
box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
border-radius: 20px;
}

.advantages-card > img{
    margin-bottom: 60px;
}

.advantages-card-heading{
    margin-bottom: 20px;
    font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
}

.advantages-card-text{
    font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
color: #727272;
}

.advantages-svgs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 58px;
    margin-bottom: 115px;
}

.advantages-svgs :nth-child(1){
    margin-right: 72px;
}

.advantages-svgs :nth-child(2){
    margin-right: 59px;
}

.footer-container{
    width: 100vw;
    background: #383838;
}

.footer-top{
    display: flex;
    justify-content:space-between ;
    padding: 100px 100px 0px 100px;
}

.footer-images{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.footer-images :nth-child(1){
    margin-bottom: 40px;
}


.footer-top > ul :nth-child(1){
    font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 32px;
color: #FFFFFF;
}

.footer-top > ul{
    list-style: none;
}

.footer-top > ul > li{
    font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #BBBBBB;
margin-bottom: 30px;
}

.footer-top > ul > li > img{
    margin-right: 30px;
}

.rights{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
align-items: center;
text-align: center;

color: #DFDFDF;
margin-top: 130px;
padding-bottom: 40px;
}
